@using QuizGame.Database.Models
@model Question


		
			@*<img src="~/@Model.ImageNameInFileSystem" alt="">
                                <div class="hover-contents">
                                    <a href="product-details.html" class="hover-image">
                                        <img src="~/@Model.ImageNameInFileSystem" alt="">
                                    </a>
								</div>*@
			<div class="container mt-sm-5 my-1">
		<form method="POST" asp-route="client-home-question">
					<div class="question ml-sm-5 pl-sm-5 pt-2">
						<div class="py-2 h5"><b>@Model.Tittle</b></div>
						<div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
							@foreach(var answer in Model.Answers)
							{
					<form method="POST" asp-route="client-home-question" asp-route-id="@answer.Id" id="question-form-@answer.Id"></form>
					<button type="submit" form="question-form-@answer.Id">
								@answer.Title aaaaa
								</button>

							
							
							}
						</div>
					</div>
				</form>
				<div class="d-flex align-items-center pt-3">
					<div id="prev">
						<button class="btn btn-primary">Previous</button>
					</div>
					<div class="ml-auto mr-sm-5">
						<button class="btn btn-success">Next</button>
					</div>
				</div>
			</div>
